 .image-container{
  background-image: url('/src/assets/images/backdrop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  /* Forces the body to always match the full screen height */
  min-height: 100vh; 
  margin: 0; 
 }


 .login-form-container{
  background-color:rgb(51, 50, 50);
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;

 }

 button{
  cursor:pointer;
 }